* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Condensed", sans-serif;
}

/* Header styles */

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 100;
}
.header > img {
  position: absolute;
  height: 100%;
  width: 100vw;
  filter: brightness(35%);
  object-fit: cover;
}
.header-background-mobile {
  z-index: 0;
}
.header-background {
  z-index: 20;
}
.buynow-button {
  border: 1px solid #ba55d3;
  color: #ba55d3 !important;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 15px;
  padding: 1rem 2rem;
}
.header__info > a,
h1,
span {
  position: absolute;
  z-index: 100;
}
.header__info span {
  top: 50%;
  left: 12vw;
  color: lightblue;
}

.header__info h1 {
  color: #fff;
  top: 40%;
  left: 12vw;
}
.header__info a {
  top: 68%;
  left: 16vw;
  text-decoration: none;
  color: #fff;
  background: #5b43d6;
  padding: 0.938rem 2.7rem;
  border-radius: 30px;
}
.header__info a {
  display: flex;
}
.header__info a:hover .header__info a > p {
  margin-left: 10px;
}
.header__info a > p {
  display: flex;
  margin-left: 5px;
}

/* Navigation Bar styles  */

.nav-main {
  background: #030303;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
.nav-main > ul {
  display: flex;
}
.nav-main li {
  list-style: none;
}
.nav-main a {
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
}
.nav-main > img {
  height: 50px;
  cursor: pointer;
  border-radius: 14px;
}
.humburger-menu {
  display: none;
}
/* Services Section */
.services {
  background: url("./images/services-background.jpg");
  background-size: cover;
  display: grid;
  place-items: center;
  width: 100%;
  height: 110vh;
  overflow: scroll;
  position: relative;
  z-index: 1000;
}
.services__fadeLeft,
.services__fadeRight {
  position: absolute;
  height: 80%;
  bottom: 20px;
  width: 26vw;
  z-index: 100;
}
.services__fadeLeft {
  opacity: 0.8;
  left: 0;
 }
.services__fadeRight {
  right: 0;
  opacity: 0.8;
}
.services > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.services::-webkit-scrollbar {
  display: none;
}
.services h2 {
  background: #61047994;
  color: #fff;
  width: 100%;
  opacity: 0.66;
  padding: 20px 30px;
  margin-top: 22px;
  text-align: center;
}
.services__cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  overflow-x: hidden;
  flex-wrap: nowrap;
}
.card {
  height: 50vh;
  flex: 0.3;
  min-width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  opacity: 0.85;
  cursor: pointer;
}
.card.left,
.card.right {
  background: transparent;
  margin: 0;
  padding: 0;
}
.card img {
  height: 100px;
  margin-top: 15px;
  object-fit: contain;
}
.card.web-development .card__info > p {
  position: relative;
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 40px;
}
.card__info > h3 {
  font-size: 16px;
  padding: 12px;
  color: #6c757d;
}
.card__info > p {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 10px;
}

/* Enquiry section */
.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap; 
  position: relative;

}
.container form{
display: flex;
flex-direction: column;
width: 50%;
position: relative;
}
form {
  display: flex;
  flex-direction: column;
  z-index: 100;
  border-radius: 12px;
  height: 500px;
  justify-content: center;
  margin-top: 5rem;
  margin-right: 2rem;
}
form input {
  border: none;
  background: none;
  margin-left: 30px;
  outline-width: 0;
}
form .input-field {
  display: flex;
  align-self: center;
  max-width: 300px;
  margin: 10px 10px;
  padding: 0.938rem 2rem;
  background-color: #f0f0f0;
  border-radius: 10px;
}
form .input-field i{
  color: #acaaca;
}
form  .input-field input::placeholder{
  color: #aaa;
  font-weight: 500;
  font-size: 13px;
}
form .social-icon  {   
      height: 46px;
      width: 46px;
      border: 1px solid #333;
      margin: 0 0.45rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #333;
      font-size: 1.1rem;
      border-radius: 50%;
      transition: 0.3s;
      cursor: pointer;    
}
form .social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}
form .send-btn {
  align-self: center;
  width: 150px;
  height: 49px;
  border: none;
  border-radius: 49px;
  outline: none;
  background-color: rgb(109, 9, 109);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0px;
  transition: .5s;
  cursor: pointer;
}
form h2 {
  align-self: center;
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

form .social-media {
  display: flex;
  justify-content: center;
}
form  p {
  align-self: center;
  padding: .7rem 0;
  font-size: 1rem;
}
.overlay-circle {
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: purple;
  position: absolute;
  top: -10%;
  right: 48%;
transform: translateY(-50%);
  z-index: 0;
}
.left-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  justify-self: flex-start;
  flex: 0.9;
  margin-top: 100px;
}
.left-div h1 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem; 
  color: #fff;
} 
.left-div span {
  color: lightgray;
  font-size: 0.95rem;
  padding: 0.7rem  0;
  margin-top: 30px;
}
.left-div > img {
  height: 240px;
  align-self: flex-start;
  margin: 60px;
}
.left-div > button {
  padding: .938rem 2rem;
  border-radius: 30px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  margin-top: 80px;
  margin-right: 3rem;
  transition: 0.2s ease;
  cursor: pointer;
}
.left-div > button:hover {
  background: #fff;
  color: #111;    
}
/* Media Queries */


@media screen and (max-width: 955px ) {
  .overlay-circle {
      top: 20px;
      right: 0;
  
  }
  form h2 {
      color: #fff;
  }
  form p {
      color: #fff;
  }
  form .social-icon {
      color: #fff;
      border: 1px solid #fff;
  }
  }
  @media screen and (max-width: 945px ) {
  .overlay-circle {
      top: 20px;
      right: 0;
  }
  .left-div span{
    width: 100% !important;
    margin-left: 750px !important;
  }
  form {
    flex-grow: 1;
  }
  form h2 {
      color: lightgray;
  }
  form p {
      color: #444;
  }
  form .social-icon {
      color: #4481eb;
      border: 1px solid #4481eb;
  }
  .left-div > h1 {
      margin-left: 50px;
      width: 100% !important;
      font-size: 36px !important;
  }
  }
  
  @media screen and (max-width: 944px) {
    .left-div  {
        margin-right: 200px;
        margin-left: 200px;
        width: 100%;
    }
    .left-div > h1 {
        font-size: 18px !important;
        margin-left: 780px;
    }
    .left-div > span {
        margin-left: 300px;
    }
    .left-div > button {
        margin-left: 300px;
    }
    .left-div > img {
        margin-top: 100px;
        margin-right: 200px;
        margin-left: 300px;
        transform: scale(0.8);
    }
  }
  @media screen and (max-width: 758px) {
    form {
        flex-grow: 1;
    }
    form h2 {
        color: #444;
    }
    .overlay-circle {
        height: 230vh;
    }
    .left-div h1 {
        margin-left: 600px;
    }
    .left-div > img {
        margin-top: 100px;
        margin-right: 200px;
        transform: scale(0.6);
    }
    .left-div span{
      width: 100% !important;
      margin-left: 580px !important;
    }
  }
  
  @media screen and (max-width: 700px) {
    .left-div {
        width: 100% !important;
    }
    .left-div h1 {
        font-weight: 600;
        line-height: 1;
        font-size: 1.5rem !important; 
        color: #fff;
        width: 100% !important;
  
    } 
    .left-div span {
        font-size: 0.85rem !important;
        width: 100% !important;
        margin-left: 700px;
    }
    .left-div > img {
       display: none;
    }
    .left-div > button {
        width: 100% !important;
        max-width: 160px;
    }
    form h2 {
       color: #fff;
    }
    .input-field {
        background-color: #f0f0f0!important;
    }
    .input-field i {
        color: #555 !important;
    }
    .input-field input::placeholder{
        color: #555 !important;
  
    }
    .overlay-circle {
        border-radius: 20%;
    }
  }
  @media screen and (max-width: 680px) {
    .left-div > button {
        margin-left: 400px;
    }
    form p {
      color: #aaa;
    }
  }
  @media  screen and (max-width: 585px) {
    .left-div > h1 {
        font-size: 18px;
        margin-left: 600px;
    }
    .left-div > span {
        font-size: 16px;
        margin-left: 580px;
    }
    .left-div > button {        
        margin-left: 460px;
    }
  }
  @media  screen and (max-width: 554px) {
    .left-div > h1 {
        font-size: 18px;
        margin-left: 500px;
    }
    .left-div > span {
        font-size: 16px;
        margin-left: 480px;
    }
    .left-div > button {        
        margin-left: 400px;
        transform: scale(0.9);
    }
  }
  @media  screen and (max-width: 500px) {
    .left-div > h1 {
        font-size: 15px;
        margin-left: 470px;
    }
    .left-div > span {
        font-size: 16px;
        margin-left: 440px;
    }
    .left-div > button {        
        margin-left: 400px;
        transform: scale(0.9);
    }
  }
  @media  screen and (max-width: 470px) {
    .left-div > h1 {
        font-size: 12px;
        margin-left: 470px;
    }
    .left-div > span {
        font-size: 12px;
        margin-left: 490px;
        margin-top: 50px;
    }
    .left-div > button {        
        margin-left: 380px;
        margin-top: 120px;
        transform: scale(0.9);
    }
    .input-field {
        transform: scale(0.8);
    }
  }
  @media  screen and (max-width: 470px) {
    .left-div > h1 {
        font-size: 15px;
        margin-left: 470px;
    }
    form  p {
        font-size: 12px;
        margin-left: 10px;
        color: #fff !important;
        margin-bottom: 30px;
    }
    .left-div > button {        
        margin-left: 400px;
        transform: scale(0.9);
    }
    .input-field {
        transform: scale(0.8);
    }
    .overlay-circle {
        border-radius: 10%;
    }
  }
  
  
@media screen and (max-width: 500px) {
  .header > .header-background-mobile {
    z-index: 20;
  }
  .header-background {
    z-index: 0;
  }
  .header__info h1 {
    color: #fff;
    font-size: 18px;
    left: 12vw;
  }
  .header__info span {
    top: 50%;
    font-size: 14px;
    left: 12vw;
    color: lightblue;
  }
  .services h2 {
    margin-top: 80px;
    font-size: 14px;
    margin-bottom: 14px;
  }
  .humburger-menu {
    display: unset;
  }
  .services__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .card.left {
    margin-right: 100%;
    margin-left: 55%;
    background: transparent;
  }
  .card.right {
    background: transparent;
  }
  .services__cards {
    overflow-x: scroll;
  }
}


@media screen and (max-width: 710px) {
  .nav-main > ul {
    display: none;
  }
  .humburger-menu {
    display: unset;
    border-radius: unset;
  }
  .nav-main > img {
    height: 33.45px;
  }
  .nav-main {
    justify-content: space-between;
  }
  .nav-main {
    padding-left: 30px;
    padding-right: 70px;
  }
}
@media screen and (max-width: 800px) {
  
  .nav-main > ul {
    font-size: 13px;
  }
}
